
body, html {
    height: 96.7%;
}


#background { 
    /* The image used */
    background-image: url("deadcontact2.png");

    /* Full height */
    height: 110%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;

    z-index: 1;
}

body{
    margin: 0;
}

.navbar{
    padding-left: 330px;
    padding-top: 35px;    
}

#home{
    color: rgba(15, 15, 15, 0.541);
    font-size: 30px;
    font-weight: 700;
    border-style: solid;
    border-color: rgba(15, 15, 15, 0.541);
}

