html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
html {
  height: 100%;
  max-width: 100%;
  background: black;
}
.bg_def {
  background-image: url('../img/deadboismallback.gif');
  /* background-size: cover;
    height: 100%;
    max-width: 100%;
    width: 100%; */
  height: 100%;
  max-height: 76%;
  /* zoom: 30%; */
  width: 100%;
  /* background-position: center; */
  background-repeat: round;
  /* background-size: contain; */
  /* object-fit: cover; */
  padding-top: 215px;
}
.bg_sc {
  height: 100%;
  max-height: 78%;
  width: 100%;
  background-repeat: round;
  padding-top: 215px;
  -webkit-animation: bg-sc 5s linear forwards;
  -moz-animation: bg-sc 5s linear forwards;
  animation: bg-sc 5s linear forwards;
}
@-moz-keyframes bg-sc {
  100% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
}
@-webkit-keyframes bg-sc {
  100% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
}
@keyframes bg-sc {
  100% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
}
@-moz-keyframes bg-sc {
  100% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
}
@-webkit-keyframes bg-sc {
  100% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
}
@keyframes bg-sc {
  100% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
}
.bg_bc {
  height: 100%;
  max-height: 78.2%;
  width: 100%;
  background-repeat: round;
  padding-top: 215px;
  -webkit-animation: bg-bc 5s linear forwards;
  -moz-animation: bg-bc 5s linear forwards;
  animation: bg-bc 5s linear forwards;
}
@-moz-keyframes bg-bc {
  100% {
    background-image: url('../img/cover.jpg');
  }
}
@-webkit-keyframes bg-bc {
  100% {
    background-image: url('../img/cover.jpg');
  }
}
@keyframes bg-bc {
  100% {
    background-image: url('../img/cover.jpg');
  }
}
@-moz-keyframes bg-bc {
  100% {
    background-image: url('../img/cover.jpg');
  }
}
@-webkit-keyframes bg-bc {
  100% {
    background-image: url('../img/cover.jpg');
  }
}
@keyframes bg-bc {
  100% {
    background-image: url('../img/cover.jpg');
  }
}
.bg_sc_backdef {
  -webkit-animation: bg-sc-backdef 5s linear forwards;
  -moz-animation: bg-sc-backdef 5s linear forwards;
  animation: bg-sc-backdef 5s linear forwards;
}
@-moz-keyframes bg-sc-backdef {
  0% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@-webkit-keyframes bg-sc-backdef {
  0% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@keyframes bg-sc-backdef {
  0% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@-moz-keyframes bg-sc-backdef {
  0% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@-webkit-keyframes bg-sc-backdef {
  0% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@keyframes bg-sc-backdef {
  0% {
    background-image: url('../img/deadboismallorangeback.gif');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
.bg_bc_backdef {
  -webkit-animation: bg-bc-backdef 5s linear forwards;
  -moz-animation: bg-bc-backdef 5s linear forwards;
  animation: bg-bc-backdef 5s linear forwards;
}
@-moz-keyframes bg-bc-backdef {
  0% {
    background-image: url('../img/cover.jpg');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@-webkit-keyframes bg-bc-backdef {
  0% {
    background-image: url('../img/cover.jpg');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@keyframes bg-bc-backdef {
  0% {
    background-image: url('../img/cover.jpg');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@-moz-keyframes bg-bc-backdef {
  0% {
    background-image: url('../img/cover.jpg');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@-webkit-keyframes bg-bc-backdef {
  0% {
    background-image: url('../img/cover.jpg');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
@keyframes bg-bc-backdef {
  0% {
    background-image: url('../img/cover.jpg');
  }
  100% {
    background-image: url('../img/deadboismallback.gif');
  }
}
.dboy__title {
  display: flex;
  justify-content: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80px;
  border: double 10px #f8509f;
  border-width: 20px;
  border-bottom: none;
  /* text-decoration-color: #FFFF; */
  font-weight: 600;
  opacity: 1;
  color: #ee589e;
  margin-left: 20%;
  width: 59%;
  /* padding-top: 280px; */
}
.music__buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
}
.bc__button {
  /* background: #19c7f7; */
  border: double 9px #49c0e0;
  font-size: 150%;
  text-align: center;
  color: #79b2c2;
  height: 100%;
  width: 17%;
  border-radius: 80%;
  padding: 17px;
  margin-right: 50px;
  opacity: 70;
}
.sc__button {
  /* background: orange; */
  border: double 9px orange;
  background: none;
  color: orange;
  height: 100%;
  width: 17%;
  border-radius: 50%;
  padding: 17px;
  text-align: center;
  font-size: 150%;
}
.sc__button_disp {
  -webkit-animation: sc-disp 5s linear forwards;
  -moz-animation: sc-disp 5s linear forwards;
  animation: sc-disp 5s linear forwards;
}
@-moz-keyframes sc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes sc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes sc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes sc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
.bc__button_disp {
  -webkit-animation: bc-disp 5s linear forwards;
  -moz-animation: bc-disp 5s linear forwards;
  animation: bc-disp 5s linear forwards;
}
@-moz-keyframes bc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes bc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bc-disp {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
