.dboy__title {
  display: flex;
  justify-content: center;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80px;
  border: double 10px #f8509f;
  border-width: 20px;
  border-bottom: none;
  /* text-decoration-color: #FFFF; */
  font-weight: 600;
  opacity: 1;
  color: #ee589e;
  margin-left: 20%;
  width: 60%;
  /* padding-top: 280px; */
}
