
.columns{
    text-align: center;
    padding-top: 50px;
    padding-left: 160px;
    opacity: .85;

}




.navbar{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    text-decoration-color: #00802b;
    font-weight: 600%;
    padding-left: 1020px;
    opacity: 1;
}

.nav-link{
    color: #00802b;
    text-decoration-color: #00802b;
    border-color: #00802b;
    border-style: solid;
}

#contact{
    color: #00802b;
}

#logo{
    opacity: 1;
}

body, html{
    height: 97.8%;
}

#bg{
    background: url("deadboybg.jpg");
    height: 110%;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
