
.columns{
    text-align: center;
    padding-top: 50px;
    padding-left: 160px;
    opacity: .85;

}

#bc{
    background-image: url("deadfoam2.png");
    padding: 25px 15px;
    margin-right: 50px;
}

#sc{
    background-image: url("http://www.cafeaulait.org/books/jnp3/corrections/13-1.gif");
    padding-right: 30px;
    padding-bottom: 40px;
    margin: 0px 50px;
}

#yt{
    background: url("deadecto.gif");
    background-size: 900px 390px;
    background-repeat: no-repeat;
    padding: 50px 0px;
    margin-top: 50px;
    margin-left: 40px;
}

.navbar{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 30px;
    text-decoration-color: #00802b;
    font-weight: 600%;
    padding-left: 1020px;
    opacity: 1;
}

.nav-link{
    color: #00802b;
    text-decoration-color: #00802b;
    border-color: #00802b;
    border-style: solid;
}

#contact{
    color: #00802b;
}

#logo{
    opacity: 1;
}

body, html{
    height: 97.8%;
}

#bg{
    background: url("deadboybg.jpg");
    height: 110%;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
